@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
main{
    max-width: 1320px;
    margin: 0 auto;
}
/* banner styles */
.banner{
    height: 600px;
    background-image: url(../images/Banner\ Image.png);
    background-color: #07021155;
    background-blend-mode: multiply;
    border-radius: 16px;
    margin-top: 30px;
}
.primary-font{
    font-family:'Inter Medium', Arial, sans-serif;
}
.banner-description{
    height: 600px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-description h5{
    font-family: Merriweather;
    font-size: 32px;
    margin: 0;
}
.banner-description h2,h4{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin: 16px 0 10px;
}
.banner-description h4{
    margin: 0;
}
