@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
main{
    max-width: 1320px;
    margin: 0 auto;
}
/* common styles */
.text-center{
    text-align: center;
}
.primary-color{
    color: #FF0000;
}
.primary-font{
    font-family:'Inter Medium', Arial, sans-serif;
}
.btn-primary{
    padding: 16px 32px;
    background-color: #FF0000;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    color: white;
    border: none;
}
/* banner styles */
.banner{
    height: 600px;
    background-image: url(../images/Banner\ Image.png);
    background-color: #07021155;
    background-blend-mode: multiply;
    border-radius: 16px;
    margin-top: 30px;
}
.banner-description{
    height: 600px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.banner-description h5{
    font-family: "Merriweather";
    font-size: 32px;
    margin: 0;
}
.banner-description h2,h4{
    font-family: "Merriweather";
    font-size: 72px;
    font-weight: 900;
    margin: 16px 0 10px;
}
.banner-description h4{
    margin: 0;
}
/* off styles */
.off{
    margin: 120px 0;
}
.off-title{
    font-size: 88px;
    font-weight: bold;
    font-family: inter;
    margin:0 0 30px 0;
}
.off-sub-title{
    font-size: 24px;
    font-family: "inter";
    font-weight: 500;
    margin:0 0 16px 0;
}
.off h3{
    font-family: "inter";
    font-weight: bold;
    font-size: 48px;
    margin: 0 0 48px 0;
}
/* party styles */
.party{
    background-image: url(../images/Vectorrr.png) ;
    height: 600px; 
    background-color: rgba(0, 0, 0, 0.553);
    /* background-color: rgba(7, 2, 17, 0); */
    border-radius: 16px;
    background-blend-mode: multiply; 
}
.party-night{
    display: flex;
    padding: 0 140px 0 126px;
    align-items: center;
    gap: 40px;
}
.party-tex{
    color: white;
}
.party-tex h1{
    font-family: "Merriweather";
    font-size: 68px;
    font-weight: 900;
    margin: 0;
}
.party-description{
    font-family: "inter";
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    margin: 24px 0 48px;
}
.party-img img{
    height: 464.66px;
    padding: 68px 0;
    background-blend-mode:multiply ;
}
/* location */
.location{
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.13) 0%, rgba(255, 0, 0, 0) 100%);
    margin: 120px 0;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.location-place, .location-date, .location-time{
    font-family: "inter";
    font-weight: 600;
    font-size: 32px;
    margin: 0 0 22px 0;
}
.loc{
    padding: 100px 385px;
}
.loc button{
    margin: 26px 0 0 ;
}
/* offer styles */
.offer{
    display: flex;
    align-items: center;
}

.offer-title {
    font-family: "inter";
    font-weight: 500;
    font-size: 24px;
    margin: 0;
}
.offer-coming-soon{
    font-family: "Merriweather";
    font-weight: 900;
    font-size: 48px;
    margin: 16px 0 22px;
}
.offer-description{
    font-size: 20px;
    font-family: "inter";
    margin: 0;
    color: rgba(7, 2, 17, 0.6);
}
.offer-year-description{
    font-size: 20px;
    font-family: "inter";
    margin: 0;
    color: rgba(7, 2, 17, 0.6);
}
.offer-year{
    font-family: "inter";
    font-weight: bold;
    font-size: 48px;
    margin:0 0 10px 0;
}
.happy-year{
    margin: 30px 0 0 0;
}
.first-child-parent{
    margin-right: 30px;
}
.happy-year-candle-img{
    margin-right: 90px;
}
.holidays{
    margin: 120px 0 0 0;
}
.holiday{
    text-align: center;
}
.holiday h6{
    font-family: "inter";
    font-weight: 500;
    font-size: 24px;
    margin: 0;
}
.holiday h5{
    font-family: "Merriweather";
    font-weight: 900;
    font-size: 72px;
    margin: 10px 0 20px;
    color: #070211;
}
.holiday p{
    font-family: "inter";
    font-weight: 500;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    margin: 0 0 64px 0;
}
.holiday-img{
    background-image: url(../images/Group\ 101.png);
    height: 663px;
} 
/* portfolio styles */
.portfolio{
    margin:120px 0 120px 0;
}
.portfolio-sub-title{
    font-family: "inter";
    font-weight: 500;
    font-size: 24px;
    margin: 0;
}
.portfolio-title{
    font-family: "Merriweather";
    font-weight: 900;
    font-size: 48px;
    margin: 8px 0 17px;
}
.portfolio-description{
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    margin: 0 0 40px 0;
}
.portfolio-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
/* newsletter styles */
.newsletter{
    background-color:  rgba(255, 0, 0, 0.05);
    border-radius: 16px;
    margin:0 0 120px 0;
}
.subscribe-newsletter{
    text-align: center;
}
.newsletter-title{
    font-family: "Merriweather";
    font-weight: 900;
    font-size: 48px;
    margin: 20px 0 10px;
}
.newsletter-description{
    font-family: "inter";
    font-size: 20px;
    color:  rgba(7, 2, 17, 0.6);
    margin: 0 0 48px 0;
}
.subscribe-newsletter form input[type="email"]{
    width: 664px;
    height: 72px;
    border-radius: 50px;
    border: none;
    padding-left: 30px;
    font-family: "inter";
    font-size: 18px;
    color: rgba(7, 2, 17, 0.3);
    outline: none;
}
.subscribe-newsletter form input[type="button"]{
    width: 210px;
    height: 74px;
    font-family: "inter";
    font-weight: 600;
    font-size: 20px;
    color: white;
    border-radius: 0 50px 50px 0;
    border: none;
    background-color: #FF0000;
    outline: none;
    margin-left: -210px;
    cursor: pointer;
}
.subscribe-newsletter form input{
    margin: 0 0 80px 0;
}
.newsletter-mail-img{
    margin: 80px 0 0 0;
}
/* footer styles */
.footer{
    background-color: #070211;
    padding: 120px 0;
}
.sub-footer{
    max-width: 1320px;
    margin: 0 auto;
}
.footer-first-parent{
    display: flex;
    justify-content: space-between;
}
.footer-content h5, .contact, .internet, .copyright, .unsubscribe{
    font-family: 'inter';
    font-weight: 500;
    font-size: 24px;
    color: white;
    margin: 0;
}
.footer-first-parent .footer-cont{
    padding-right: 135px;
}
.footer-first-parent .footer-cont span img{
    padding-right: 8px;
}
.footer hr{
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin: 50px 0;
}
.footer-second-parent{
    text-align: center;
}
.footer-second-parent img{
    padding: 0 12px;
}
.footer-third-parent{
    display: flex;
    justify-content: space-between;
}